# -------------------------
# Android Studio 관련
# -------------------------
.idea/
*.iml
*.iws

# -------------------------
# 빌드 결과물
# -------------------------
build/
*/build/
.cxx/
.externalNativeBuild/

# -------------------------
# Gradle 관련
# -------------------------
.gradle/
local.properties
*.kotlin_module

# -------------------------
# 시스템 파일
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# 로그 및 기타
# -------------------------
*.log

# -------------------------
# Keystore & 민감 정보
# -------------------------
*.jks
*.keystore
*.pem
*.key
.env
*.env

# -------------------------
# Firebase
# -------------------------
google-services.json
firebase_app_id_file.json

# -------------------------
# 기타 캐시
# -------------------------
.navigation/
captures/
.cache/
