<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogWalkApp"
        tools:targetApi="31">

        <!--스플래시 액티비티를 런처(시작화면)로 등록-->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WalkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DiaryCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DiaryWriteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DiaryCommunityActivity"
            android:exported="false" />

        <!--카카오 SDK 인증 핸들러 액티비티-->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="c6652648e6d66eb28c5a75fec2e683cb" />
            </intent-filter>
        </activity>
        <!-- 카카오 앱 키-->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="c6652648e6d66eb28c5a75fec2e683cb" />
        <!-- 구글 지도 API 키-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWS3Efzv8Fc6jzNE0Zr2fdwBQoFca8iA8" />
    </application>

</manifest>